.nav{
    width: 100%;
    height: 50px;
    background-color: rgb(17, 17, 236);
    padding: 0px;
}
.fa {
    margin: 15px 0px 0px 70px;
    cursor: pointer;
   
}
.span{
    color: white;
}
.butt{
    cursor: pointer;
    height: 30px;
   
}
.imge{
    height: 60px;
    
   
}
.home{
   
    background-color: blue;
    color: white;
    font-size: 16px;
    padding: 9px 25px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    text-decoration: none;
    margin-left: 80px;
    
    
}
.About:hover{
    border: none;
    cursor: pointer;
    border-radius: 15px;
    padding: 9px 20px;
    background-color: blue;
    color: white !important;
}
.services:hover{
    border: none;
    cursor: pointer;
    border-radius: 15px;
    padding: 9px 20px;
    background-color: blue;
    color: white !important;
}
.media:hover{
    border: none;
    cursor: pointer;
    border-radius: 15px;
    padding: 3px 10px;
    background-color: blue;
    color: white !important;
}
.hori{
    background-color: rgb(17, 17, 236) ;
    height: 30px;
    color: white;
}
.intr{
   color: Blue;
}
.duction{
    color: green;
    margin-left: -12px;
}
.rating{
    background-color: blue;
  height: 350px;
}
.im{
    height: 50px;
    width: 50px;
   margin: 70px 0px 0px 0px;
}
.ime{
    margin-left: -150px;
    font-size: 50px;
    color: white;
    
}
.month{
    color: white;
   margin-left:- 150px;
}
.ductio{
    color: green;
   
}
.one{
    height: 180px;
    width: 250px;
    background-color: white;
}
.two{
    height: 180px;
    width: 250px;
    background-color: white;
}
.three{
    height: 180px;
    width: 250px;
    background-color: white;
}
.pics{
    height: 60px;
    width: 60px;
}
.color{
    color: blue;
}
.grid{
    height: 750px;
}
/* .four{
    height: 100px;
    width:80;
    
}
.five{
    height: 100px;
    width: 80px;
} */

.four{
    height: 100px;
    width: 150px;
    background-color: white;
}
/* .five{
    height: 300px;
    width: 200px;
} */
.events{
    font-size: 30px;
    margin-left: 400px;
}
.missio{
    font-size: 30px;
   
}
.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
  }
  
  #image-gallery .modal-footer{
    display: block;
  }
  
  .thumb{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  footer{
	position: fixed;
	bottom: 0;
}
 
@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}
 
 
.footer-distributed{
	background-color: #2c292f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
/* Footer left */
 
.footer-distributed .footer-left{
	width: 30%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
/* The company logo */
 
.footer-distributed .footer-left img{
	width: 30%;
}
 
.footer-distributed h3 span{
	color:  #e0ac1c;
}
 
/* Footer links */
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
/* Footer Center */
 
.footer-distributed .footer-center{
	width: 35%;
}
 
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}
 
 
/* Footer Right */
 
.footer-distributed .footer-right{
	width: 30%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
/* .footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
} */
 
/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */
 
 
@media (max-width: 880px) {
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
 
}

